@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #020412;
}

section {

    color: #fff;
    padding: 0 8.5%;
    position: relative;
}

.text-box {
    width: 100%;
    height: 50vh;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box h1 {
    margin-top: 20rem;
    font-size: 100px;
    line-height: 160px;
}

.text-box p {
    font-size: 20px;
}

.text-box .btn {
    background: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

span {
    color: seagreen;
}

ul li {
    list-style: none;
    display: inline-block;
}

ion-icon {
    font-size: 30px;
    padding-top: 20px;
    padding-right: 10px;
    color: #FFFFFF;
    transition: color 0.2s;
    text-decoration: none;
}

ion-icon:hover {
    color: seagreen;
}

img {
    padding-left: 50px;
    z-index: 1;
    width: 60vh;
    height: auto;
    position: absolute;
    right: 0;
    animation: move 8.5s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-15px, -15px);
    }

    30% {
        transform: translate(-30px, -70px);
    }

    55% {
        transform: translate(-100px, -150px);
    }

    80% {
        transform: translate(-100px, 0);
    }

    100% {
        transform: translate(-15px, -15px);
    }
}